:root {
  --icon-size: 16em;
  --icon2-size: 7em;
}
body {
  background-color: var(--cyan);
}
.contact-svg {
  position: absolute;
  width: 100%;
}
header {
  position: relative;
  z-index: 1;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple1);
  border-bottom: 8px solid black;
}
header h1 {
  position: relative;
  font-size: var(--title-text);
  z-index: 2;
}
.header-wave {
  z-index: 1;
  top: 0;
  --start-bot-pos: -55px;
  --end-bot-pos: 0px;
  animation: top-bounce 10500ms infinite ease-in-out;
}
main {
  overflow: hidden;
  position: relative;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.info-wrapper {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.notice-box {
  width: calc(100% - 3em - 20px);
  position: relative;
  z-index: 3;
  padding: 1.5em;
  background-color: var(--purple2);
  border: black 10px solid;
  box-shadow: 5px 5px black;
  border-radius: 50px;
  font-size: var(--small-text);
  font-weight: 500;
  transition: all 350ms ease-in-out;
  text-align: center;
}
.notice-box:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px black;
}
.notice-box:active {
  transform: scale(1.1);
  box-shadow: 10px 10px black;
}
.small-text {
  z-index: 1;
  font-weight: 700;
  font-size: var(--tiny-text);
  transition: all 350ms ease-in-out;
}
.small-text:hover {
  color: var(--text-highlight);
  transform: scale(1.1);
}
.small-text:active {
  transform: scale(0.9);
}
.socials {
  position: relative;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "github linkedin"
  "email email";
  row-gap: 50px;
  transition: all 350ms ease-in-out;
}
.socials a {
  transition: all 350ms ease-in-out;
}
.socials a button {
  padding: 0;
  width: 250px;
  height: 250px;
  align-self: center;
  border: black 10px solid;
  box-shadow: 5px 5px black;
  background-color: var(--purple3);
  transition: all 350ms ease-in-out;
}
.socials a:nth-child(1) {
  grid-area: github;
  justify-self: start;

}
.socials a:nth-child(2) {
  grid-area: linkedin;
  justify-self: end;
}
.socials a:nth-child(3) {
  grid-area: email;
  height: 175px;
  width: unset;
  justify-self: unset;
  align-self: unset;
  
}

.socials a:nth-child(3) button {
  background-color: var(--green2);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  justify-self: unset;
  align-self: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials a:nth-child(3) button h4 {
  margin: 0;
  color: var(--text-color);
  font-size: var(--med-text);
}

.socials a:hover {
  transform: scale(0.9);
}
.socials a:active {
  transform: scale(1.1);
}
.socials a:hover button {
  box-shadow: 1px 1px black;
}
.socials a:active button {
  box-shadow: 10px 10px black;
}
/* Shapes */
.shape {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  --rotate-start: 0deg;
  --rotate-end: 360deg;
  animation: spin 14500ms infinite linear;
}
.shape:nth-child(odd) {
  --rotate-start: 360deg;
  --rotate-end: 0deg;
  animation: spin 20500ms infinite linear;
}
.shape1 {
  width: 750px;
  height: 750px;
  top: 10%;
  left: 5%;
}
.shape2 {
  width: 350px;
  height: 350px;
  top: 0%;
  left: 65%;
}
.shape3 {
  width: 450px;
  height: 450px;
  top: 50%;
  left: 70%;
}
.footer-wave {
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0;
  --start-bot-pos: -35px;
  --end-bot-pos: -5px;
  animation: bounce 4500ms infinite ease-in-out;
}