@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Global variables */
:root {
	/* main colors */
	--green1: #02C39A;
  	--green2: #0DAF94;
  	--green3: #199C8E;
  	--cyan: #248889;
  	--purple3: #2F7483;
  	--purple2: #3B617D;
  	--purple1: #464D77;
	--text-color: #f8f8f8;
	--nav-bar-color: yellow;
	--icon-colors: #f8f8f8;
	/* Scroll Bar Colors */
	--scrollBarThumb: #576094;
	--scrollBarBackground: #1F7475;
	/* keyframe start and end positions */
	--start-pos: -10%;
    --end-pos: 30%;
}

h1, h2, h3, ul, li, body, svg {
	margin: 0;
	color: var(--text-color);
}

/* scrollbar */
* {
	scrollbar-color: var(--scrollBarThumb) var(--scrollBarBackground);
	scrollbar-width: thin;
	box-sizing: content-box;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollBarBackground);
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollBarThumb);
}

body {
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}


/* Animation Keyframes */

@keyframes waveBounce {
    0% {
      transform: translateY(var(--start-pos));
    }

    50% {
      transform: translateY(var(--end-pos));
    }

    100% {
      transform: translateY(var(--start-pos));
    }
  }

  @keyframes textBounce {
    0% {
      bottom: var(--start-pos);
    }

    50% {
	  bottom: var(--end-pos);
    }

    100% {
	  bottom: var(--start-pos);

    }
  }