@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global variables */
:root {
	/* main colors */
	--green0-3: #1CD9B0;
	--green0-2: #14E1B5;
	--green0-1: #0BEABA;
	--green0: #02F1BD;
	--green1: #02C39A;
  	--green2: #0DAF94;
  	--green3: #199C8E;
  	--cyan: #248889;
  	--purple3: #2F7483;
  	--purple2: #3B617D;
  	--purple1: #464D77;
  	--purple0: #3f466e;
	--text-color: #f8f8f8;
	--nav-bar-color: yellow;
	--icon-colors: #f8f8f8;
	/* Scroll Bar Colors */
	--scrollBarThumb: #576094;
	--scrollBarBackground: #1F7475;
	/* keyframe start and end positions */
	--start-bot-pos: 0;
    --end-bot-pos: 0;
	--start-left-pos: 0;
    --end-left-pos: 0;
	--rotation: 0;
	--marquee-length: 0;
}

h1, h2, h3, ul, li, body, svg {
	margin: 0;
	color: var(--text-color);
}

/* scrollbar */
* {
	font-family: 'Fira Sans', sans-serif;
	scrollbar-color: var(--scrollBarThumb) var(--scrollBarBackground);
	scrollbar-width: thin;
	box-sizing: content-box;
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollBarBackground);
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollBarThumb);
}

body {
	overflow: hidden;
}

.cta-btn button{
	background-color: var(--green0);
	border: black 6px solid;
	box-shadow: 4px 4px black;
	/* border-radius: 15px; */
	color: black;
	font-size: 32px;
	font-weight: 500;
	padding: 8px 12px;
	transition: all 300ms ease-in-out;
}

.cta-btn button:hover {
	border: var() 6px solid;
	box-shadow: 8px 8px black;
	border-radius: 10px;
}

.cta-alt1 button{
	background-color: var(--green0-1);
}

.cta-alt2 button{
	background-color: var(--green0-2);
}

.cta-alt3 button{
	background-color: var(--green0-3);
}

.text-hover {
	transition: all 250ms ease-out;
}

.text-hover:hover {
	color: #8DFCE4;
}

.text-hover-scale {
	transition: all 450ms ease-out;
}

.text-hover-scale:hover {
	transform: scale(1.2);
	bottom: 2%;
    right: 8%;
}
/* Animation Keyframes */


  @keyframes bounce {
    0% {
	  left: var(--start-left-pos);
      bottom: var(--start-bot-pos);
      transform: rotate(var(--rotation));
    }

    50% {
      left: var(--end-left-pos);
	  bottom: var(--end-bot-pos);
      transform: rotate(var(--rotation));
    }

    100% {
	  left: var(--start-left-pos);
	  bottom: var(--start-bot-pos);
      transform: rotate(var(--rotation));
    }
  }