.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(calc(-100vh - 8px));
    transition: 1350ms;
}

.background.active {
    transform: translateY(0vh);
    transition: 1350ms;
}

.modal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--green2);
    border-bottom: 8px solid black;
}

.modal-text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

h1 {
    font-size: var(--big-text);
}

.modal a, .modal p {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.🍔 {
    padding: 5px 15px;
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--green2);
    color: var(--text-color);
    font-weight: 700;
    border: none;
    font-size: 32px;

}