---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="Not Found :(" />
		
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title">Page Not Found :(</h1>
			<p>
				I literally have no idea what you are looking for.
				Go back home, you're lost. It's ok I forgive you.
			</p>
			<a href="/" class="cta-btn"><button>Take me back please</button></a>
		</div>
		<svg class="error-wave" viewBox="0 0 1512 549" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 52.2309C0 52.2309 61.4319 22.6083 107 13.6081C182.587 -1.3211 234 12.8395 308.5 21.932C383 31.0246 500.044 75.062 629 74.8719C720.621 74.7368 768.425 49.4944 860 47.5696C938.594 45.9176 982.669 67.3467 1060.5 59.8889C1147.85 51.5189 1179.98 4.53773 1268 0.289935C1367.78 -4.52526 1512 52.2309 1512 52.2309V549H0V52.2309Z" fill="#2E355F"/>
		</svg>
		<Footer />
		<style>
			body {
				position: relative;
				background-color: var(--purple1);
				overflow-y: hidden;
			}
			.wrapper {
				position: relative;
				z-index: 2;
				padding: 0 30px;
				height: calc(100vh - 82px);
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 30px;
			}
			.wrapper h1 {
				text-align: center;
				font-size: var(--title-text);
			}
			.wrapper p {
				text-align: center;
				max-width: 700px;
				font-size: var(--med-text);
				font-weight: 500;
			}
			.wrapper a button {
				font-size: var(--tiny-text);
			}
			.error-wave {
				position: absolute;
				left: 0;
				z-index: 1;
				width: 100%;
				--start-bot-pos: 0;
				--end-bot-pos: -5%;
				animation: bounce 6000ms infinite ease-in-out;
			}
			@media screen and (orientation:portrait) {
				.wrapper {
					height: calc(100vh - 90px);
				}
			}
			@media screen and (max-width: 1100px) {
				body {
					--title-text: 6em;
					--med-text: 1.5em;
					--tiny-text: 1em;
				}
			}
			@media screen and (max-width: 800px) {
				body {
					--title-text: 4em;
					--med-text: 1.25em;
					--tiny-text: 1em;
				}
			}
			@media screen and (max-width: 550px) {
				body {
					--title-text: 3em;
					--med-text: 1em;
					--tiny-text: 1em;
				}
				.title {
					-webkit-text-stroke: 2px #0C0C0C;
				}
			}
		</style>
	</body>
</html>
