---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

const skills = ["HTML5", "CSS3", "C++", "JavaScript", "React", "Svelte", "Astro", "Git", "Figma"];
---

<html lang="en">
	<head>
		<MainHead title="Alan Cortez | About" description="The ins and outs of Alan Cortez" />
		<style>
      body {
        background-color: var(--green0);
      }
      .title {
        width: fit-content;
        font-size: 96px;
        -webkit-text-stroke: 3px black;
        text-shadow: 6px 6px black;
        font-weight: 800;
	      transition: all 250ms ease-out;
      }
      .title:hover {
        text-shadow: 12px 12px black;
      }
      /* header */
      header {
        position: relative;
        overflow: hidden;
        padding: 0 10%;
        height: 800px;
        display: grid;
        grid-template-areas: 
          "title title"
          "blurb graphics";
        gap: 20px;
        justify-items: start;
        align-items: flex-start;  
      }
      header h1 {
        position: relative;
        z-index: 2;
        padding: 5% 0;
        grid-area: title;
      }
      header p {
        position: relative;
        z-index: 2;
        grid-area: blurb;
        width: 60%;
        padding: 1.5em;
        background-color: var(--purple3);
        border: black 10px solid;
        border-radius: 50px;
        box-shadow: 5px 5px black;
        font-size: 32px;
        font-weight: 500;
        transition: all 350ms ease-in-out;
        text-align: center;
      }
      header p:hover {
        box-shadow: 15px 15px black;
        transform: scale(1.07);
      }
      header .graphic {
        position: relative;
        z-index: 2;
        grid-area: graphics;
        position: relative;
        bottom: 10%;
      }
      header .graphic img {
        width: 100%;
        height: 100%;
      }

      .funny-shapes {
        position: absolute;
      }

      .funny-shapes:nth-child(odd) {
        --rotate-start: 0deg;
	      --rotate-end: 360deg;
        width: 190px;
        height: 190px;
        transition: all 350ms ease-in-out;
        animation: spin 4500ms infinite linear;
      }

      /* .funny-shapes:nth-child(odd):hover {
        transform: scale(2.1);
      } */

      .funny-shapes:nth-child(even) {
        --rotate-start: -360deg;
	      --rotate-end: 0deg;
        width: 160px;
        height: 160px;
        animation: spin 4500ms infinite linear;
      }

      .logo {
        left: -150px;
        bottom: 600px;
      }

      .square-circle {
        left: 500px;
        bottom: 100px;
      }

      .star {
        left: 350px;
        bottom: 550px;
      }

      .hexagon {
        left: -100px;
        bottom: 300px;
      }

      .diamond {
        left: -200px;
        bottom: 100px;
      }

      .background-svg {
        position: absolute;
        z-index: 1;
        height: 100%;
        left: 0;
        --start-left-pos: -55px;
        --end-left-pos: -15px;
        animation: bounce 4500ms infinite ease-in-out;
      }

      /* SKills */
      .skill-section {
        overflow: hidden;
        position: relative;
        height: 500px;
        background-color: var(--purple3);
        border-top: 8px solid black;
        display: flex;
        flex-direction: column;
        padding: 0 10% 5% 10%;
      }
      .hop {
        padding-top: 5%;
        position: relative;
        z-index: 2;
      }

      .skill-section ul {
        padding: 0;
        position: relative;
        z-index: 2;
        margin-top: 3%;
        width: 100%;
        list-style: none;
        display: flex;
        gap: 6%;
        flex-wrap: wrap;
      }
      .skill-item {
        margin: 30px 0;
        position: relative;
        z-index: 2;
        background-color: var(--green0);
        border: black 6px solid;
        box-shadow: 4px 4px black;
        color: black;
        font-size: 40px;
        font-weight: 600;
        padding: 8px 12px;
        transition: all 500ms ease-in-out;
      }
      .skill-item:hover {
        border: var() 6px solid;
        box-shadow: 8px 8px black;
        border-radius: 10px;
        transform: scale(1.3);

      }
      .skill-item:active {
        transform: rotate(180deg) scale(0.8);
      }
      .skills-wave {
        height: 100%;
        padding: 0;
        position: absolute;
        z-index: 1;
        right: 0;
        --start-left-pos: -55px;
        --end-left-pos: -15px;
        animation: right-bounce 4500ms infinite ease-in-out;
      }
		</style>
	</head>
	<body>
		<Nav />
    <header>
      <h1 class="title">About Me</h1>
      <p>How's it going, I am Alan Cortez a web developer based in Southern California. My goal is to make your web experience easier and a amusing adventure.</p>
      <div class="graphic">
        <img src="/assets/myselfPointingpng.png" alt="myself looking up and pointing in a power stance">
        <!-- logo shape -->
        <svg class="funny-shapes logo" viewBox="0 0 180 195" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M164.969 86.6237L50.5295 9.01C35.1779 -1.40153 14.3226 8.79424 13.1098 27.3037L4.06908 165.284C3.12914 179.629 14.9261 191.577 29.2823 190.82L103.855 186.885C110.366 186.541 116.456 183.564 120.727 178.637L169.634 122.205C179.05 111.341 176.867 94.693 164.969 86.6237Z" fill="#3B617D" stroke="black" stroke-width="8"/>
        </svg>
        <!-- square circle shape -->
        <svg class="funny-shapes square-circle" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M131.738 79.4258L120.277 30.4399C116 12.1559 97.7098 0.801517 79.4258 5.07912L30.4399 16.5396C12.156 20.8172 0.801572 39.107 5.07918 57.3909L16.5396 106.377C20.8172 124.661 39.107 136.015 57.391 131.738L106.377 120.277C124.661 116 136.015 97.7097 131.738 79.4258Z" fill="#248889" stroke="black" stroke-width="8"/>
        </svg>
        <!-- star shape -->
        <svg class="funny-shapes star" viewBox="0 0 158 155" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M45.3564 8.37021L47.2013 4.82107L85.6922 24.8292L127.223 12.2973C131.48 11.0128 135.606 14.6426 134.875 19.0282L127.74 61.8181L152.493 97.4438C155.03 101.095 152.853 106.141 148.456 106.801L105.555 113.238L79.3221 147.788C76.6334 151.329 71.1617 150.818 69.1755 146.84L49.7962 108.029L8.83087 93.7562C4.63213 92.2933 3.42759 86.9314 6.59696 83.8132L37.5202 53.3891L38.4353 10.0182M45.3564 8.37021L38.4353 10.0182M45.3564 8.37021L47.2013 4.82107C43.2563 2.77039 38.5291 5.57294 38.4353 10.0182M45.3564 8.37021L38.4353 10.0182M50.5642 108.296C50.5634 108.296 50.5627 108.296 50.5619 108.296L50.5642 108.296ZM49.4344 107.304C49.4339 107.303 49.4334 107.302 49.4329 107.301L49.4344 107.304Z" fill="#464D77" stroke="black" stroke-width="8"/>
        </svg>
        <!-- hexagon shape -->
        <svg class="funny-shapes hexagon" viewBox="0 0 175 155" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M132.075 9.25165L130.984 7.21575L128.676 7.14191L50.716 4.64798L48.4078 4.57414L47.1898 6.5362L6.0499 72.8047L4.83184 74.7667L5.922 76.8026L42.7423 145.565L43.8324 147.601L46.1406 147.675L124.101 150.169L126.409 150.243L127.627 148.28L168.767 82.012L169.985 80.05L168.895 78.0141L132.075 9.25165Z" fill="#02C39A" stroke="black" stroke-width="8"/>
        </svg>
        <!-- diamond shape -->
        <svg class="funny-shapes diamond" viewBox="0 0 136 211" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M130.271 132.096L125.271 132.135L130.271 132.096L129.422 20.7856C129.333 9.07407 116.456 1.9782 106.507 8.15834L12.7832 66.3805C8.34307 69.1388 5.65901 74.0095 5.69886 79.2365L6.54755 190.547C6.63685 202.259 19.5137 209.355 29.4623 203.175L123.186 144.952C127.627 142.194 130.311 137.323 130.271 132.096Z" fill="#3B617D" stroke="black" stroke-width="10"/>
        </svg>
      </div>
      <svg class="background-svg" viewBox="0 0 796 746" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-1 0H744.319C744.319 0 814.326 188.268 791.382 307.5C766.623 436.165 583.867 460.507 613.696 588C632.203 667.1 744.319 746 744.319 746H-1V0Z" fill="#03DCAE"/>
        </svg>
    </header>
    
    <section class="skill-section">
      <h1 class="title hop">Silly Skills</h1>
      <ul>
        {skills.map((skill) => (
          <li class="skill-item">{skill}</li>
        ))}
      </ul>
      <svg class="skills-wave" viewBox="0 0 666 522" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.00025 0H666V522H4.00025C4.00025 522 40.1441 457.586 55.0003 413C73.9869 356.017 88.8422 321.112 81.5003 261.5C73.1635 193.811 15.6519 172.198 4.00025 105C-3.0052 64.5978 4.00025 0 4.00025 0Z" fill="#256A79"/>
      </svg>
    </section>

    <sections class="experience">

    </sections>
    <section class="hobbies"> 
    
    </section>
			<!-- <div class="bio wrapper">
				<div class="about-blurb">
					<h2>About Me</h2>
					<p>
					  How's it going, <span class="highlight-text">I am Alan Cortez</span> a web 
					  developer based in Southern California. My goal is to make your web experience 
					  easier and a amusing adventure. My own journy thus far has led me to dabbling 
					  with <span class="highlight-text">React, Svelte, and Astro</span>. 
					  
					</p>
					<p>
					  On the side, I am a Supplemental Instruction Leader teaching 
					  <span class="highlight-text">C++ Object Oriented Programming</span>
					  concepts to a range of students. Additionally, I am the Design President
					  in the largest computer science club on campus, ACM at CSUF, passing down
					  <span class="highlight-text"> UI/UX and Frontend development</span> 
					  practices to students of all levels.
					</p>
					<p>
					  That is just the tip of the iceberg, if you would love to learn more about me and my hobbies
					  <button id="button-one"><span class="highlight-text">click here</span></button> or let my 
					  projects do all the talking.
					</p>
					
				  </div>
			</div> -->
		<!-- <Footer /> -->
	</body>
</html>
