---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Icons from "../components/icons.jsx"
import "../styles/contact.css"
---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez | Contact"
      description="These are my main forms of communication which you can reach out to me."
    />  
  </head>
  <body>
    <Nav />
    <header>
      <h1 class="title">TALK TO ME</h1>
      <svg class="header-wave contact-svg" viewBox="0 0 1511 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H1511V66.9456L1313.5 52.887L1114.5 80L573.5 52.887L276 80L0 66.9456V0Z" fill="#3f466e"/>
      </svg>
    </header>
    <main>
        <div class="info-wrapper">
            <p class="notice-box">Whether it is to talk about a cool project or tell me how my text is slightly unaligned, feel free to reach out to me by one of the ways below.</p>
            <p class="small-text">Click on the socials to zoom on over there!</p>
            <div class="socials">
                <a href="https://github.com/AlanCortez1337" target="_blank" title="Open New Tab with Alan Cortez's GitHub Profile">
                    <button>
                        <Icons iconName={"github"} size={"var(--icon-size)"}/>
                        <p>AlanCortez1337</p>
                    </button>
                </a>
                <a href="https://www.linkedin.com/in/alancortez1337/" target="_blank" title="Open New Tab with Alan Cortez's LinkedIn Profile">
                    <button>
                        <Icons iconName={"linkedin"} size={"var(--icon-size)"}/>
                        <p>AlanCortez1337</p>
                    </button>
                </a>
                <a href="mailto:cortez.alan060@gmail.com" target="_blank" title="Sends Email to Alan Cortez in New Tab">
                    <button>
                        <h4>cortez.alan060@gmail.com</h4>
                        <Icons iconName={"mail"} size={"var(--icon2-size)"}/>
                    </button>
                </a>
            </div>
        </div>
        <p class="small-text">Designed and Developed by Alan Cortez</p>
        <!-- Star -->
        <svg class="shape1 shape" viewBox="0 0 595 581" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M285.772 5.70747C291.777 -1.82336 303.223 -1.82336 309.228 5.70747L387.124 103.394C389.97 106.963 394.287 109.042 398.852 109.042L523.793 109.037C533.425 109.036 540.561 117.985 538.418 127.375L510.611 249.183C509.595 253.633 510.661 258.305 513.507 261.874L591.411 359.554C597.417 367.084 594.87 378.243 586.191 382.421L473.621 436.627C469.508 438.607 466.52 442.354 465.505 446.804L437.708 568.614C435.565 578.005 425.253 582.971 416.575 578.791L304.009 524.577C299.896 522.596 295.104 522.596 290.991 524.577L178.425 578.791C169.747 582.971 159.435 578.005 157.292 568.614L129.495 446.804C128.48 442.354 125.492 438.607 121.379 436.627L8.80852 382.421C0.130235 378.243 -2.41661 367.084 3.58914 359.554L81.4926 261.874C84.3392 258.305 85.4054 253.633 84.3893 249.183L56.5824 127.375C54.4387 117.985 61.5748 109.036 71.2068 109.037L196.148 109.042C200.713 109.042 205.03 106.963 207.876 103.394L285.772 5.70747Z" fill="#197D7E"/>
        </svg>
        <!-- hexagon -->
        <svg class="shape2 shape" viewBox="0 0 313 302" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M124.76 11.0608C143.686 -2.69002 169.314 -2.69002 188.24 11.0608L289.768 84.8248C308.694 98.5756 316.614 122.949 309.385 145.199L270.604 264.551C263.375 286.801 242.642 301.864 219.247 301.864H93.7526C70.3583 301.864 49.6247 286.801 42.3955 264.551L3.61545 145.199C-3.61376 122.949 4.30578 98.5756 23.2321 84.8248L124.76 11.0608Z" fill="#197D7E"/>
        </svg>
        <!-- square -->
        <svg class="shape3 shape" viewBox="0 0 439 439" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="81.6724" y="-9" width="377.831" height="377.831" rx="47" transform="rotate(13.8854 81.6724 -9)" fill="#197D7E"/>
        </svg>
        <!-- wave -->
        <svg class="footer-wave" viewBox="0 0 1511 246" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 57.6058C0 57.6058 137.584 34.1153 226 29.3467C434.049 18.1259 550.062 106.664 758 89.6328C912.447 76.9827 996.42 3.98664 1151 0.145588C1292.08 -3.36002 1511 57.6058 1511 57.6058V246H0V57.6058Z" fill="#266D7C"/>
        </svg>
    </main>
    <style>
        @media screen and (max-width: 1100px) {
            .shape1 {
                width: 650px;
                height: 650px;
                top: 20%;
                left: -20%;
            }
            .shape3 {
                width: 550px;
                height: 550px;
                top: 70%;
                left: 70%;
            }
        }
        @media screen and (max-width: 700px) {
            body {
                --title-text: 5em;
                --med-text: 1.5em;
                --small-text: 1.25em;
                --tiny-text: 1em;
                --icon-size: 18em;
                --icon2-size: 16em;
            }
            .shape1 {
                width: 650px;
                height: 650px;
                top: 30%;
                left: -20%;
            }
            .info-wrapper {
                width: 400px;
            }
            .socials {
                grid-template-columns: 1fr;
                grid-template-areas: 
                "github"
                "linkedin"
                "email";
                align-items: center;
                justify-content: center;
            }
            .socials a {
                height: 325px;
                width: 325px;
            }
            .socials a button {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
            .socials a:nth-child(1) {
                justify-self: center;
            }
            .socials a:nth-child(2) {
                justify-self: center;
            }
            .socials a:nth-child(3) {
                justify-self: center;
                height: 325px;
                width: 325px;
            }
            .socials a:nth-child(3) button {
                padding: 20px 0;
                height: calc(100% - 60px);
                flex-direction: column-reverse;
                gap: 0;
            }
            .socials a:nth-child(3) button h4 {
                font-weight: 500;
                padding-left: 0;
            }
        }
        @media screen and (max-width: 460px) {
            body {
                --title-text: 3em;
                --med-text: 1em;
                --small-text: 1em;
                --tiny-text: 0.8em;
                --icon-size: 16em;
                --icon2-size: 14em;
            }
            .shape1 {
                top: 30%;
                left: -80%;
            }
            .info-wrapper {
                width: 300px;
            }
            .notice-box {
                border: #0C0C0C 8px solid;
                border-radius: 30px;
                font-size: var(--small-text);
                font-weight: 500;
            }
            .socials a {
                height: 250px;
                width: 250px;
            }
            .socials a button {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
            }
            .socials a:nth-child(1) {
                justify-self: center;
            }
            .socials a:nth-child(2) {
                justify-self: center;
            }
            .socials a:nth-child(3) {
                justify-self: center;
                height: 250px;
                width: 250px;
            }
            .socials a:nth-child(3) button {
                padding: 20px 0;
                height: calc(100% - 60px);
                flex-direction: column-reverse;
                gap: 0;
            }
            .socials a:nth-child(3) button h4 {
                font-weight: 500;
            }
        }
    </style>
  </body>
</html>
