---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import DownArrow from "../components/icons.jsx";
import "../styles/homepage.css"

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/*.md");
[{}, {}, {}]
---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez"
      description="Hi my name is Alan Cortez and I am an aspiring full stack web developer, this website is a portfolio of my work and how you are able to contact me."
    />
  </head>
  <body>
    <Nav />
      
    <header>
      <div class="hero-text">
        <h2 class="text-hover alt-text">I am <span class="name-text">Alan Cortez</span>, a</h2>
        <h1>
          <span class="text-hover">UI/UX</span><br>
          <span class="text-hover">FullStack</span><br>
          <span class="text-hover">Web Developer</span> 
        </h1>
        <p class="text-hover alt-text">Here to be the <span class="name-text">unicorn</span>  for your next project.</p>
      </div>
      <svg class="wave" viewBox="0 0 816 169" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg" d="M0 69.1204C0 69.1204 177.676 58.2568 290.889 45.6487C409.474 32.4423 474.41 -10.0802 593.111 2.20104C684.055 11.6104 816 69.1204 816 69.1204V169H0V69.1204Z" fill="#464D77"/>
      </svg>
      <svg class="jax" viewBox="0 0 456 403" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M202.083 18.3856C211.57 -4.81829 244.43 -4.8183 253.917 18.3856L327.117 197.409C328.075 199.753 329.347 201.956 330.898 203.958L449.337 356.862C464.688 376.681 448.259 405.138 423.42 401.752L231.781 375.633C229.272 375.291 226.728 375.291 224.219 375.633L32.5804 401.752C7.74144 405.138 -8.68813 376.681 6.66321 356.862L125.102 203.958C126.653 201.956 127.925 199.753 128.883 197.409L202.083 18.3856Z" fill="#1A8384"/>
      </svg>
      <svg class="square" viewBox="0 0 246 246" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="246" height="246" rx="52" fill="#1A8384"/>
      </svg>
      <div class="project-title text-hover-scale">
        <DownArrow iconName={"downArrow"} size={"2em"}/>
        <h1>PROJECTS</h1>
      </div>
    </header>

    <section class="marquee">
      <ul id="projects">
        {projects.map((project) => (
          <a href={project.url}><li>{project.frontmatter.title}</li></a>
          <li>•</li>
        ))}
        <li>[REDACTED]</li> 
      </ul>
    </section>

    <main>
      <div class="image-container">
        <h3>wooow look at pretty ol' me</h3>
        <img class="me" loading="lazy" src="/assets/alanHeadshot.webp" alt="picture of alan cortez">
        <a href="/about/" class="cta-btn"><button>more me</button></a>
      </div>
      <svg class="wave2" viewBox="0 0 340 793" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 793H213C213 793 309.685 703.518 333 627C380.281 471.827 168.449 410.125 163 248C159.681 149.257 213 0 213 0H0V793Z" fill="#2F7483"/>
      </svg>
      <svg class="logo" viewBox="0 0 178 190" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M71.405 10.2927C79.0874 -3.12061 98.4326 -3.12064 106.115 10.2927L174.838 130.282C180.792 140.678 176.333 153.94 165.308 158.628L96.5851 187.845C91.5849 189.971 85.9351 189.971 80.935 187.845L12.2118 158.628C1.18662 153.94 -3.27233 140.678 2.68181 130.282L71.405 10.2927Z" fill="#2D5B7D"/>
      </svg>
      <svg class="hexa" viewBox="0 0 193 182" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M96.5 0L192.081 69.4438L155.572 181.806H37.4276L0.918823 69.4438L96.5 0Z" fill="#2D5B7D"/>
      </svg>
      <img class="lua" loading="lazy" src="/assets/lua.webp" alt="image of lua looking all cute and such">
    </main>

    <script>
      const marqueeProjects = document.getElementById("projects");
      const width = document.getElementById("projects").offsetWidth;
      const widthPX = `-${width.toString()}px`
      marqueeProjects.style.setProperty("--marquee-length", widthPX)
      
      console.log(marqueeProjects.style.getPropertyValue("--marquee-length"))
    </script>

    <style>
      @media screen and (max-width: 1380px) {
        body {
          --big-text: 5em;
          --med-text: 2.25em;
          --small-text: 2em;
        }
      }
      @media screen and (max-width: 700px) {
        body {
          --huge-text: 8em;
          --big-text: 4em;
          --med-text: 1.75em;
          --small-text: 1.5em;
          --tiny-text: 1.25em;
        }
        .image-container {
            position: relative;
            width: 20em;
            height: 22em;
        }
      }
      @media screen and (max-width: 450px) {
        body {
          --big-text: 3.25em;
          --med-text: 1.5em;
          --small-text: 1em;
        }
        .hero-text {
          padding: 50px 20px;
        }
        .image-container {
            position: relative;
            width: 18em;
            height: 20em;
        }
        .text-hover {
          text-shadow: 3px 3px black;
        }
      }
      @media screen and (orientation:portrait) {
        body {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 0fr 600px;
          overflow: visible;
        }
        header {
          font-size: smaller;
          position: relative;
          z-index: 2;
          grid-column: 1;
          grid-row: 1;
          border-right: none;
        }
        main {
          grid-column: 1;
          grid-row: 3;
          background-color: var(--purple2);
        }
        .marquee {
          grid-column: 1 / span 1;
          grid-row: 2;
          background-color: black;
        }
        .alt-text {
          -webkit-text-stroke: 0px;
          text-shadow: 0px 0px;
        }
        .hero-text {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .hero-text h1 span:nth-child(1) {
          font-size: 1.75em;
        }
        .hero-text h1 span:nth-child(3) {
          font-size: 1.5em;
        }
        .hero-text h2 {
          font-weight: 400;

        }
        .hero-text p {
            margin-top: 0;
            font-weight: 300;
            font-size: var(--med-text);
        }
        .name-text {
          font-weight: 500;
        }
      }
    </style>
  </body>
</html>
