---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import DownArrow from "../components/icons.jsx";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez"
      description="Hi my name is Alan Cortez and I am an aspiring full stack web developer, this website is a portfolio of my work and how you are able to contact me."
    />
  </head>
  <body>
    <Nav />
      
    <header>
      <div class="hero-text">
        <h2>I am Alan Cortez</h2>
        <h1>UI/UX<br>FullStack<br>Web Developer</h1>
        <p>hava good day</p>
      </div>
      <svg class="wave" viewBox="0 0 816 169" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg" d="M0 69.1204C0 69.1204 177.676 58.2568 290.889 45.6487C409.474 32.4423 474.41 -10.0802 593.111 2.20104C684.055 11.6104 816 69.1204 816 69.1204V169H0V69.1204Z" fill="#464D77"/>
      </svg>
      <div class="project-title">
        <DownArrow iconName={"downArrow"}/>
        <h1>PROJECTS</h1>
      </div>
    </header>

    <div class="marquee">
      <ul>
        <li>Discord Bot</li>
        <li>•</li>
        <li>Food Tinder</li>
        <li>•</li>
        <li>ACM Team Quiz</li>
        <li>•</li>
        <li>Memory Mania</li>
        <li>•</li>
        <li>ACM Rebrand</li>
        <li>•</li>
        <li>ACM Wiki</li>
        <li>•</li>
        <li>Amongus In 3d</li>
        <li>•</li>
        <li>Case Clicker</li>
        <li>•</li>
        <li>ILXL PPR Community</li>
        <li>•</li>
        <li>Howards Appliances</li>
        <li>•</li>
        <li>Portfolio V1</li>
      </ul>
    </div>
    <main>
      <img src="/assets/alanHeadshot.png" alt="picture of alan cortez">
      <a href="/" class="cta-btn">
        <button>more me</button>
      </a>
    </main>

    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr 0fr;
      }

      header {
        position: relative;
        grid-column: 1;
        grid-row: 2;
        background-color: var(--cyan);
        border-right: black 12px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .wave {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        --start-pos: -40px;
        --end-pos: 0%;
        animation: bounce 4500ms infinite linear;
      }

      .project-title {
        position: absolute;
        z-index: 2;
        bottom: 1%;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .hero-text {
        position: relative;
        z-index: 2;
        height: 74%;
        width: 70%;
      }

      .hero-text h1 {
        font-size: 104px;
      }

      main {
        grid-column: 2;
        background-color: var(--purple2);
      }
      /* Marquee styles */
      .marquee {
        position: relative;
        z-index: 2;
        height: 50px;
        grid-column: 1 / span 2;
        grid-row: 3;
        background-color: black;
      }

      .marquee ul:hover {
        animation-play-state: paused;
      }

      .marquee ul {
        height: 100%;
        display: flex;
        /* justify-content: end; */
        align-items: center;
        gap: 40px;
        list-style: none;
        animation: slide 25s infinite linear;
      }

      .marquee li {
        font-size: 24px;
        flex-shrink: 0;
      }

      @keyframes slide {
        from {
          transform: translateX(100vw);
        }
        to {
          transform: translateX(-125vw);
        }
      }

      /* Main Info */
      main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }

      main img {
        width: 600px;
        height: 600px;
        border: black 8px solid;
        box-shadow: 6px 6px black;
        border-radius: 15px;
      }

      main a {
        width: 611px;
      }
      
    </style>
  </body>
</html>
