---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import DownArrow from "../components/icons.jsx";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/*.md");

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

// const marqueeProjects = document.getElementById("projects");
// // let marqueeWidth = marqueeProjects.
// console.log(marqueeProjects.offsetWidth)


---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez"
      description="Hi my name is Alan Cortez and I am an aspiring full stack web developer, this website is a portfolio of my work and how you are able to contact me."
    />
  </head>
  <body>
    <Nav />
      
    <header>
      <div class="hero-text">
        <h2 class="text-hover alt-text">I am <span class="name-text">Alan Cortez</span>, a</h2>
        <h1>
          <span class="text-hover">UI/UX</span><br>
          <span class="text-hover">FullStack</span><br>
          <span class="text-hover">Web Developer</span> 
        </h1>
        <p class="text-hover alt-text">Here to be the <span class="name-text">unicorn</span>  for your next project.</p>
      </div>
      <svg class="wave" viewBox="0 0 816 169" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg" d="M0 69.1204C0 69.1204 177.676 58.2568 290.889 45.6487C409.474 32.4423 474.41 -10.0802 593.111 2.20104C684.055 11.6104 816 69.1204 816 69.1204V169H0V69.1204Z" fill="#464D77"/>
      </svg>
      <div class="project-title text-hover-scale">
        <DownArrow iconName={"downArrow"}/>
        <h1>PROJECTS</h1>
      </div>
    </header>

    <section class="marquee">
      <ul id="projects">
        {projects.map((project) => (
          <li>{project.frontmatter.title}</li>
          <li>•</li>
        ))}
        <li>[REDACTED]</li> 
      </ul>
    </section>

    <main>
      <img class="me" src="/assets/alanHeadshot.png" alt="picture of alan cortez">
      <a href="/about/" class="cta-btn">
        <button>more me</button>
      </a>
      <svg class="wave2" viewBox="0 0 340 793" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 793H213C213 793 309.685 703.518 333 627C380.281 471.827 168.449 410.125 163 248C159.681 149.257 213 0 213 0H0V793Z" fill="#2F7483"/>
      </svg>
      <img class="lua" src="/assets/lua.png" alt="image of lua looking all cute and such">
    </main>

    <script >
      const marqueeProjects = document.getElementById("projects");
      const width = document.getElementById("projects").offsetWidth;
      const widthPX = `-${width.toString()}px`
      marqueeProjects.style.setProperty("--marquee-length", widthPX)
      
      console.log(marqueeProjects.style.getPropertyValue("--marquee-length"))
    </script>

    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr 0fr;
        overflow: hidden;
      }

      header {
        position: relative;
        z-index: 2;
        grid-column: 1;
        grid-row: 2;
        background-color: var(--cyan);
        border-right: black 8px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .wave {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        --start-bot-pos: -55px;
        --end-bot-pos: -15px;
        animation: bounce 4500ms infinite linear;
      }

      .project-title {
        position: absolute;
        z-index: 2;
        bottom: 1%;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .hero-text {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 50px 0;
      }

      .hero-text h2 {
        font-size: 32px;
        width: fit-content;
      }

      .hero-text h1 {
        font-size: 104px;
        -webkit-text-stroke: 2px black;
        text-shadow: 6px 6px black;
        font-weight: 800;
      }

      .hero-text h1 .text-hover:hover {
        text-shadow: 12px 12px black;

      }

      .hero-text p {
        font-weight: 700;
        font-size: 32px;
      }

      main {
        grid-column: 2;
        background-color: var(--purple2);
      }
      /* Marquee styles */
      .marquee {
        position: relative;
        z-index: 2;
        height: 50px;
        grid-column: 1 / span 2;
        grid-row: 3;
        background-color: black;
      }

      #projects {
        --marquee-length: -10px;
      }
      
      .marquee ul {
        width: fit-content;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        animation: slide 25s infinite linear;
      }
      
      .marquee ul:hover {
        animation-play-state: paused;
      }

      .marquee li {
        font-size: 24px;
        flex-shrink: 0;
      }

      @keyframes slide {
        from {
          left: 100vw;
        }
        to {
          left: calc(0vw + var(--marquee-length))  ;
        }
      }

      /* Main Info */
      main {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }

      .me {
        position: relative;
        z-index: 2;
        width: 550px;
        height: 550px;
        border: black 8px solid;
        box-shadow: 6px 6px black;
        border-radius: 35px;
        animation: image-move 3000ms infinite linear;
        transition: all 200ms ease-in-out;
      }

      .me:hover {
        animation-play-state: paused;
        box-shadow: 18px 18px black;
        border-radius: 0px;
      }

      main a {
        position: relative;
        z-index: 3;
        width: 566px;
      }
      
      .lua {
        width: 677px;
        height: 700px;
        position: absolute;
        left: 40%;
        bottom: -100%;
        z-index: 4;
        animation: lua-peep 15s 1 linear;
        animation-delay: 40s;
      }

      .wave2 {
        position: absolute;
        left: 0;
        z-index: 1;
        height: 100%;
        overflow-x: hidden;
        --start-left-pos: 0;
        --end-left-pos: -5%;
        animation: bounce 3000ms infinite linear;
      }

      @keyframes image-move {
        0% {
          right: 0;
          bottom: 0;
        }
        25% {
          right: 10px;
          bottom: 10px;
        }
        75% {
          right: -15px;
          bottom: -15px;
        }
        100% {
          right: 0;
          bottom: 0;
        }
      }
      @keyframes lua-peep {
        0% {
          bottom: -100%;
        }
        50% {
          bottom: -50%;
        }
        60% {
          bottom: -50%;
        }
        75% {
          bottom: -30%;
        }
        85% {
          bottom: -30%;
        }
        100% {
          bottom: -100%;
        }
      }
    </style>
  </body>
</html>
