---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Jeanine White: Personal Site"
      description="Jeanine White: Developer, Speaker, and Writer..."
    />
    <style>
      .hero {
        width: 100%;
        height: 100vh;
        background-color: var(--green3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .hero-grid > * {
        position: relative;
      }

      .hero-grid h2 {
        font-size: 32px;
        transform: rotate(-3deg);
        text-align: end;
        padding-bottom: 30px;
        --start-pos: -5%;
        --end-pos: 0%;
        animation: textBounce 3s infinite ease-in-out;
      }

      .hero-grid h1 {
        font-size: 72px;
        transform: rotate(2deg);
        text-align: center;
        padding-bottom: 30px;
        --start-pos: 0%;
        --end-pos: 7%;
        animation: textBounce 2.5s infinite ease-in-out;
      }
      .hero-grid h3 {
        font-size: 24px;
        transform: rotate(-2deg);
        text-align: start;
        --start-pos: -2%;
        --end-pos: 5%;
        animation: textBounce 3.5s infinite ease-in-out;
      }
      .div-wave {
        --start-pos: -3%;
        --end-pos: 2%;
        position: absolute;
        top: 80%;
        animation: waveBounce 3s infinite ease-in-out;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <div class="hero-grid">
        <h2>i am alan cortez</h2>
        <h1>UI/UX Frontend Developer</h1>
        <h3>let's chat</h3>
      </div>
      <svg
        class="div-wave"
        viewBox="0 0 1512 386"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 79.089C0 79.089 396.293 95.5318 648.5 79.089C878.711 64.0802 1003.92 -23.116 1231.5 5.85372C1346.32 20.4693 1512 79.089 1512 79.089V297C1512 297 828.5 270.5 660 297C491.5 323.5 401.664 398.931 256.5 383C147.219 371.007 0 297 0 297L0 79.089Z"
          fill="#3B617D"></path>
      </svg>
    </header>
    <!-- dividing wave -->
    <main class="wrapper"></main>
    <Footer />
  </body>
</html>
