---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/project-card";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/*.md");
---

<html lang="en">
  <head>
    <MainHead
      title="Alan Cortez Projects"
      description="Projects Alan Cortez has developed so far."
    />
  </head>
  <body>
    <Nav />
    <!-- dividing wave -->
    <main class="wrapper">
      <h2 class="project-title">Projects</h2>
      {projects.map((project) => (
        <div class={`project-${project.frontmatter.cssClass}`}>
          <Card title={project.frontmatter.title} gif={project.frontmatter.gif}/>
        </div>
      ))}
    </main>
    <Footer />
    <style>
      .wrapper {
        width: 80%;
        padding: 400px 10% 0 10%;
        display: grid;
        grid-template-areas: 
          "title title"
          "quiz quiz"
          "rebrand wiki"
          "discbot fTinder"
          "clicker clicker"
          "memory amongus"
          "howards acmFlyers";
        gap: 20px;
        justify-items: center;
        align-items: center;
      }

      .project-title {
        justify-self: end;
        grid-area: title;
        width: 200px;
        font-size: 40px;
        text-align: center;
        background-color: var(--purple1);
        border: var(--purple1) 5px solid;
        padding: 5px 15px;
        border-radius: 15px;
      }
      .project-quiz {
        grid-area: quiz;
      }
      .project-discbot {
        grid-area: discbot;
      }
      .project-fTinder {
        grid-area: fTinder;
      }
    </style>
  </body>
</html>
