---
import Icons from "./icons";
---

<footer>
  <div class="footer-items">
    <div class="footer-wrapper">
      <h3>Designed and developed by Alan Cortez</h3>
      <div class="icons">
        <a
          href="https://docs.google.com/document/d/1WgFxvm5z1IBIdMeri4NDSyZzI855fQZRAZP5GZUopmc/edit"
          target="_blank"
          ><Icons iconName={"resume"} size="var(--footer-icons)"/>
        </a>
        <a href="https://github.com/AlanCortez1337" target="_blank"
          ><Icons iconName={"github"} size="var(--footer-icons)"/>
        </a>
        <a href="https://www.linkedin.com/in/alancortez1337/" target="_blank"
          ><Icons iconName={"linkedIn"} size="var(--footer-icons)"/>
        </a>
      </div>
    </div>
  </div>
</footer>
<style>
  footer {
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: black;
  }

  .footer-items {
    padding: 15px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h3 {
    font-size: 24px;
  }

  a {
    color: var(--icon-colors);
    transition: all 500ms ease-in-out;
  }

  a:hover {
    color: var(--green1);
  }
  @media screen and (max-width: 800px) {
    footer {
      --footer-icons: 2em;

    }
    h3 {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 800px) {
    footer {
      --footer-icons: 2em;
    }
    h3 {
      font-size: 12px;
    }
    .footer-wrapper {
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }
</style>
