---
import Icons from './icons'


const currentYear = new Date().getFullYear();
---

<footer>
  <svg
    class="footer-wave"
    viewBox="0 0 1511 296"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 65C0 65 295.675 102.786 486 101.5C774.718 99.5498 931.938 -25.9366 1219 5.00004C1334.75 17.4739 1511 65 1511 65V296H0V65Z"
      fill="#464D77"></path>
  </svg>
  <div class="footer-items">
    <h3>designed and developed by alan cortez: {currentYear}</h3>
    <div class="icons">
      <Icons iconName={"resume"}/>
      <Icons iconName={"github"}/>
      <Icons iconName={"linkedIn"}/>
    </div>
  </div>
</footer>
<style>
  footer {
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 100vw;
    background-color: var(--purple2);
  }
  .footer-wave {
    position: absolute;
    width: 3000px;
    --start-pos: 0%;
    --end-pos: 5%;
    animation: waveBounce 3.25s infinite ease-in-out;
  }
  .footer-items {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
</style>
