<nav>
  <svg
    class="nav-bg"
    viewBox="0 0 1512 188"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1512 0H0V119.661C0 119.661 85.0546 167.205 163.5 170.5C250.646 174.161 255.5 141.544 402.5 119.661C857 52 1525 187.5 1525 187.5L1512 0Z"
      fill="var(--nav-bar-color)"></path>
  </svg>
  <div class="nav-items">
    <a href="/">
      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28 0C12.536 0 0 12.536 0 28V36C0 51.464 12.536 64 28 64H36C51.464 64 64 51.464 64 36V28C64 12.536 51.464 0 36 0H28ZM35.472 11.07C33.9362 8.38477 30.0638 8.38477 28.528 11.07L11.2335 41.3045C10.0446 43.3829 10.9358 46.0331 13.1389 46.971L30.4332 54.3331C31.4343 54.7592 32.5657 54.7592 33.5667 54.3331L50.8611 46.971C53.0642 46.0331 53.9554 43.3829 52.7665 41.3045L35.472 11.07Z" fill="#F8F8F8"/>
        </svg>
        
    </a>
    <ul>
      <a href="/about/"><li>About</li></a>
      <a href="/projects/"><li>Projects</li></a>
      <a href="/"><li>Contact</li></a>
    </ul>
  </div>
</nav>

<style>
  nav {
    position: absolute;
    --nav-bar-color: var(--green2);
    
    z-index: 3;
    width: 100vw;
  }

  .nav-bg {
    position: absolute;
    width: 3000px;
    /* bottom: 0; */
    --start-pos: -225px;
    --end-pos: -200px;
    animation: bounce 5s infinite ease-in-out;
  }

  .nav-items {
    padding: 30px 10%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
  }

  ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  li {
    list-style: none;
    font-size: 32px;
    font-weight: 600;
  }

  a {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
  }

  a:hover {
    color: var(--green1);
  }
</style>
