<nav>
  <div class="nav-items">
    <!-- logo -->
    <a href="/" class="home">
      <!-- <svg class="logo" viewBox="0 0 112 117" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M106.145 72.1183L71.6009 12.0938C64.6783 0.0650167 47.3217 0.0650454 40.3991 12.0939L5.85477 72.1183C0.462964 81.4872 4.48659 93.4619 14.4418 97.674L48.9861 112.29C53.4696 114.187 58.5304 114.187 63.0139 112.29L97.5582 97.674C107.513 93.4619 111.537 81.4872 106.145 72.1183Z" fill="#2E5471" stroke="black" stroke-width="6"/>
      </svg> -->
      <button>Home</button>
    </a>
    <div class="nav-items-buttons">
      <a href="/about/"><button>About</button></a>
      <a href="/projects/"><button>Work</button></a>
      <a href="/contact/"><button>Connect</button></a>
      <a href="/"><button>Resume</button></a>
    </div>
  </div>
</nav>

<style>
  nav {
    position: fixed;
    z-index: 20;
    top: 0;
    background-color: var(--green2);
    border-bottom: black 8px solid;
    width: 100%;
  }

  .nav-items {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }

  .home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-right: 6px solid black;
  }

  .home button {
    padding: 5px 35px;
    height: calc(100% - 10px);
    background-color: var(--cyan);
    color: var(--text-color);
    font-weight: 700;
    border: none;
    width: 100%;
    font-size: 32px;
    transition: all 550ms ease-in-out;
  }

  .home button:hover {
    background-color: var(--purple2);
  }

  .nav-items-buttons {
    display: flex;
    /* gap: 50px; */
    justify-content: center;
    align-items: center;
  }

  .nav-items-buttons > * {
    border-left: 6px solid black;
  }

  .nav-items-buttons a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 550ms ease-in-out;
  }

  .nav-items-buttons a button {
    background-color: var(--green3);
    color: var(--text-color);
    font-weight: 700;
    padding: 0 30px;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 32px;
    transition: all 550ms ease-in-out;
  }

  .nav-items-buttons a button:hover {
    background-color: var(--purple0);
  }

  .nav-items-buttons a:nth-child(4) {
    padding: 0 35px;
    background-color: var(--purple0);
  }
  .nav-items-buttons a:nth-child(4) button {
    background-color: var(--purple0);
  }

  .nav-items-buttons a:nth-child(4):hover {
    background-color: var(--green3);

  }
  .nav-items-buttons a:nth-child(4):hover button {
    background-color: var(--green3);

  }
</style>
