<nav>
  <div class="nav-items">
    <!-- logo -->
    <a href="/">
      <svg class="logo" viewBox="0 0 369 394" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M358.975 283.887L207.049 19.2288C197.056 1.82091 171.944 1.82083 161.951 19.2288L10.0254 283.887C2.26252 297.41 8.06637 314.678 22.4212 320.767L174.347 385.211C180.836 387.963 188.164 387.963 194.653 385.211L346.579 320.767C360.934 314.678 366.737 297.41 358.975 283.887Z" fill="url(#paint0_linear_536_69)" stroke="black" stroke-width="16"/>
        <defs>
        <linearGradient id="paint0_linear_536_69" x1="184.5" y1="-8" x2="184.336" y2="513.829" gradientUnits="userSpaceOnUse">
        <stop stop-color="#464D77"/>
        <stop offset="1" stop-color="#02C39A"/>
        </linearGradient>
        </defs>
        </svg>
    </a>
    <div class="nav-items-buttons">
      <a href="/about/" class="cta-btn"><button>About</button></a>
      <a href="/projects/" class="cta-btn"><button>Work</button></a>
      <a href="/" class="cta-btn"><button>Connect</button></a>
      <a href="/" class="cta-btn"><button>Resume</button></a>
    </div>
  </div>
</nav>

<style>
  nav {
    grid-column: 1 / span 2;
    background-color: var(--green2);
    border-bottom: black 12px solid;
    width: 100%;
  }

  .nav-items {
    padding: 10px 10%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 80px;
    height: 80px;
    filter: drop-shadow(5px 5px rgb(0 0 0));
    transition: all 350ms ease-in-out;
  }

  .logo:hover {
    filter: drop-shadow(10px 10px rgb(0 0 0));

  }

  .nav-items-buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  a {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
  }

  a:hover {
    color: var(--green1);
  }
</style>
