<nav>
  <svg
    class="nav-bg"
    viewBox="0 0 1512 188"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1512 0H0V119.661C0 119.661 85.0546 167.205 163.5 170.5C250.646 174.161 255.5 141.544 402.5 119.661C857 52 1525 187.5 1525 187.5L1512 0Z"
      fill="var(--nav-bar-color)"></path>
  </svg>
  <div class="nav-items">
    <h1>lol</h1>
    <ul>
      <!-- turn this into links -->
      <li>About</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </div>
</nav>

<style>
  nav {
    --nav-bar-color: var(--green2);
    --start-pos: -5%;
    --end-pos: 0%;
    position: absolute;
    width: 100%;
  }

  .nav-bg {
    position: absolute;
    animation: waveBounce 5s infinite ease-in-out;
  }

  .nav-items {
    padding: 10px 10%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  li {
    list-style: none;
  }
</style>
