<nav>
  <div class="nav-items">
    <!-- logo -->
    <a href="/" class="home">
      <h1>ALAN <span class="alt-color">CORTEZ</span></h1>
    </a>
    <div class="nav-items-buttons">
      <a href="/about/"><button>About</button></a>
      <a href="/projects/"><button>Work</button></a>
      <a href="/"><button>Connect</button></a>
      <a href="/"><button>Resume</button></a>
    </div>
  </div>
</nav>

<style>
  nav {
    position: fixed;
    z-index: 20;
    top: 0;
    /* grid-column: 1 / span 2; */
    background-color: var(--green2);
    border-bottom: black 8px solid;
    width: 100%;
  }

  .nav-items {
    padding: 0 0 0 10%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }

  .home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .home h1 {
    font-size: 40px;
    transform: scale(1.5, 1);
    padding: 10px 0;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 1px 1px black;
    transition: all 650ms ease-in-out;
  }

  .alt-color {
    color: var(--text-highlight);
    transition: all 650ms ease-in-out;
  }

  .home h1:hover {
    transform: scale(1.2, 1.1);
    text-shadow: 4px 4px black;
    color: var(--text-highlight);
  }

  .home h1:hover .alt-color {
    color: var(--text-color);
  }
  

  .nav-items-buttons {
    display: flex;
    /* gap: 50px; */
    justify-content: center;
    align-items: center;
  }
  .nav-items-buttons > * {
    border-left: 6px solid black;
  }

  .nav-items-buttons a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 550ms ease-in-out;
  }

  .nav-items-buttons a button {
    background-color: var(--green3);
    color: var(--text-color);
    font-weight: 700;
    padding: 0 30px;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 32px;
    transition: all 550ms ease-in-out;
  }

  .nav-items-buttons a button:hover {
    background-color: var(--purple0);
  }

  .nav-items-buttons a:nth-child(4) {
    padding: 0 35px;
    background-color: black;
  }
  .nav-items-buttons a:nth-child(4) button {
    background-color: black;
  }

  .nav-items-buttons a:nth-child(4):hover {
    background-color: var(--green0);
  }
  .nav-items-buttons a:nth-child(4):hover button {
    color: black;
    background-color: var(--green0);
  }
</style>
