---
import Hamburger from "./hamburger";
import Icons from "./icons.jsx";
---

<nav>
  <div class="nav-items">
    <!-- logo -->
    <a href="/" class="home" title="Redirects to Home Page"
      ><button><Icons iconName={"home"} size="1em" />Home</button>
    </a>
    <div class="nav-items-buttons">
      <a href="/about/" title="Redirects to About Page"
        ><button><Icons iconName={"abt"} size="1em" />About</button>
      </a>
      <a href="/projects/" title="Redirects to Projects Page"
        ><button><Icons iconName={"work"} size="1em" />Projects</button>
      </a>
      <a href="/contact/" title="Redirects to Contact Page"
        ><button><Icons iconName={"chat"} size="1em" />Connect</button>
      </a>
      <a href="/resume.pdf" target="_blank" title="Open New Tab with Alan Cortez's Resume"
        ><button><Icons iconName={"resume"} size="1em" />Resume</button>
      </a>
    </div>
    <div class="hamburger">
      <Hamburger client:load />
    </div>
  </div>
</nav>

<style>
  .hamburger {
    display: none;
  }

  nav {
    position: fixed;
    z-index: 20;
    top: 0;
    background-color: var(--green2);
    border-bottom: #0C0C0C 8px solid;
    width: 100%;
  }

  .nav-items {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
  }

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-right: 6px solid #0C0C0C;
  }

  .home button {
    padding: 5px 35px;
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--cyan);
    color: var(--text-color);
    font-weight: 700;
    border: none;
    width: 100%;
    font-size: 32px;
    transition: all 550ms ease-in-out;
  }

  .home button:hover {
    background-color: var(--purple2);
  }

  .nav-items-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-items-buttons > * {
    border-left: 6px solid #0C0C0C;
  }

  .nav-items-buttons a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 550ms ease-in-out;
  }

  .nav-items-buttons a button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--green3);
    color: var(--text-color);
    font-weight: 700;
    padding: 0 30px;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 32px;
    transition: all 550ms ease-in-out;
  }

  .nav-items-buttons a button:hover {
    background-color: var(--purple0);
  }

  .nav-items-buttons a:nth-child(4) {
    padding: 0 35px;
    background-color: var(--purple0);
  }
  .nav-items-buttons a:nth-child(4) button {
    background-color: var(--purple0);
  }

  .nav-items-buttons a:nth-child(4):hover {
    background-color: var(--green3);
  }
  .nav-items-buttons a:nth-child(4):hover button {
    background-color: var(--green3);
  }

  @media screen and (max-width: 1000px) {
    .nav-items {
      justify-content: center;
    }
    .home button {
      background-color: var(--green2);
      padding: 5px 15px;
    }
    .nav-items-buttons {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
</style>
