---
const {frontmatter} = Astro.props;
---


<div class="container">
    <h3 class="card-title">{frontmatter.title}</h3>
    <ul class="card-info">
        <slot/>
    </ul>
</div>

<style>
    .container {
        background-color: var(--purple3);
        border: black 6px solid;
        border-radius: 25px;
    }
</style>